:root {
  --color1: #FFFAF3;
  --color2: #FFF2DB;
  --color3: #0A2947;
  --color4: #233D4D;
  --color5: #000000;
  --color6: #FE7F2D;
  --color7: #EAECF0;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  font-family: "Science Gothic", sans-serif;
  background-color: var(--color7);
}

.cabecera {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color4);
  

  .navegacion {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    width: 80%;
  }

  h1 {
    font-size: 5rem;
    font-weight: 500;
    padding: 2rem 0;
    color: var(--color2);
  }
  nav {
    font-size: 2.6rem;
    font-weight: 300;
    margin: 1rem 0;
    color: var(--color2);
  }
}

.contenedor-fondo {
  background-image:  linear-gradient(rgba(0, 0, 0, 0.6)), url("./assets/restaurant2.webp");
  height: 30rem;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  .titulo-inicio {
    color: var(--color6);
    font-size: 4rem;
    margin-left: 3rem;
  }

  .descripcion-inicio {
    color: var(--color1);
    font-size: 2.6rem;
    margin-left: 3rem;
  }
}

.subtitulo-inicio {
  text-align: center;
  padding: 3rem;
  font-size: 2.5rem;
  font-weight: 400;
}
.descripcion-secundaria {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 300;
}

.contenedor-iconos {
  display: flex;
  justify-content: space-evenly;
  padding: 5rem;

  div {
    text-align: center;
  }

  img {
    width: 96px;
  }

  p {
    font-size: 2.2rem;
    font-weight: 300;
  }
}